.wrapWhite {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 94.5vh;
	background-color: rgb(219, 222, 225);
	border-radius: 1%;
}

.wrapBlack {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
	border-radius: 1%;
	background-color: grey;
	overflow: hidden;
}

.wrapImg {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 90%;
	transition: transform 1s ease;
}

.image {
	flex: 0 0 100%; 
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%; 
	width: 100%; 
}

img {
	border-radius: 4%;
	height: auto; 
	width: 90%; 
	height: 82vh; 
	box-shadow: -0.3em -0.3em 0.5em red, 0.3em 0.3em 0.5em rgb(250, 250, 250);
}

.infoInput {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: end;
	width: 90vw;
	overflow: hidden;
}

.wrap-info {
	display: flex;
	position: absolute;
	margin: 0 17vw 0 0;
	width: 100%; 
	transition: transform 1s ease;
	gap: 11%;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; 
}

.infoText {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4.5vw;
	height: 7vh;
	width: 80vw; 
	font-weight: 700;
	color: rgb(252, 254, 254);
	text-shadow: 0.1em 0.1em 0.2em rgb(249, 0, 0);
	-webkit-text-stroke: 0.03em black;
	margin: 0;
	text-align: center;
}

.inputButtom {
	display: flex;
	height: 9vh;
	text-align: end;
	z-index: 2;
	background-color: grey;
	margin: -2vh 0 0 0;
}

.radio {
	display: none;
}

.inputButtom label {
	position: relative;
	cursor: pointer;
	padding: 5vh;
}

.inputButtom label:hover::before { 
	background-color: rgb(247, 7, 3);
	transition: all 1.5s;
}

label {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.inputButtom label::before {
	content: "";
	position: absolute;
	margin: 1vh 0 0 0;
	transform: translate(10%, 0%);
	width: 4vh;
	height: 4vh;
	border: 0.11em solid #333;
	background-color: aliceblue;
	border-radius: 50%;
	transition: all 0.3s;
}

.inputButtom label::after {
	content: "";
	position: absolute;
	transform: translate(-50%, -50%);
	width: 4vh;
	height: 4vh;
	background-color: #2ae105;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s;
}

.inputButtom label:active::before {
	background-color: rgb(201, 245, 3);
	transition: 0.3s;
}

.radio:checked + label::before {
	border-color: #eaeaea;
}

.radio:checked + label::after {
	opacity: 1;
}

#one:checked ~ .wrapBlack .wrapImg {
	transform: translateX(0);
}

#two:checked ~ .wrapBlack .wrapImg {
	transform: translateX(-100%);
}

#three:checked ~ .wrapBlack .wrapImg {
	transform: translateX(-200%);
}

#four:checked ~ .wrapBlack .wrapImg {
	transform: translateX(-300%);
}

#one:checked ~ .wrapBlack .infoInput .wrap-info {
	transform: translateX(0);
}

#two:checked ~ .wrapBlack .infoInput .wrap-info {
	transform: translateX(-100%);
}

#three:checked ~ .wrapBlack .infoInput .wrap-info {
	transform: translateX(-201%);
}

#four:checked ~ .wrapBlack .infoInput .wrap-info {
	transform: translateX(-300%);
}

#one:checked ~ .wrapBlack .inputButtom label[for="one"]::before,
#two:checked ~ .wrapBlack .inputButtom label[for="two"]::before,
#three:checked ~ .wrapBlack .inputButtom label[for="three"]::before,
#four:checked ~ .wrapBlack .inputButtom label[for="four"]::before {
	background-color: green;
}